/* Project Global Styles */
.html,body{
  margin: 0;
}
.full-wrapper{
  width:100%;
  float:left;
}
.wrapper{
  width:1024px;
  margin:0 auto;
  height:1200px;
  background: #F5F5F5;
}
/* Project Global Styles */
.header-wrapper{
  position: fixed;
  height:80px;
  border-bottom: 1px solid #E1E1E1; 
  -webkit-box-shadow: 0 3px 5px #e1e1e1;
  -moz-box-shadow: 0 3px 5px #e1e1e1;
  -o-box-shadow: 0 3px 5px #e1e1e1;
  -ms-box-shadow: 0 3px 5px #e1e1e1;
  box-shadow: 0 3px 5px #e1e1e1;      
}
.header-wrapper .logo-wrapper{
  width:200px;
  height:80px;
  display: table;
  text-align: center;
    float:left;
}
.logo-wrapper a{
    vertical-align: middle;
    text-decoration: none;
    display:table-cell;
}
.header-wrapper .search-wrapper{
    display: table;
    float: left;
    height: 80px;
    text-align: right;
    width: 400px;
    margin-right:20px;
}
.search-wrapper .search-icon{
    display: table-cell;
    vertical-align: middle;
}
.search-wrapper .search-icon div{
    background: none repeat scroll 0 0 #1b1e25;
    border-radius: 5px;
    color: #ffffff;
    float: right;
    height: 23px;
    line-height: 22px;
    text-align: center;
    width: 23px;
}
.search-wrapper .search-icon div i{
    font-size: 14px;
    cursor: default;
}
.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.jumbotron p {
    margin-bottom: 15px;
    font-size: 21px;
    font-weight: 200;
    text-align: center;   
}
.center_form {
    margin: 0 auto;
    width:27%; /* value of your choice which suits your alignment */
}